@media (max-width: 1199px){
    html{
        font-size: 10px;
    }
}

@media (max-width: 991px){
    html{
        font-size: 9px;
    }

    /*Для index.html*/
    .visible-lg{
        display: none;
    }

    .m-menu-link-btn{
        display: block;
    }

    .authorize_btn{
        margin: 0;
    }

    .tariffs__price-tags{
        flex-direction: column;
    }

    .tariffs__price-tag{
        width: 50vw;
        margin: 2rem;
        font-size: 2rem;
    }

    /*Для authorize.html*/
    .form-reg-conteiner{
        flex-direction: column;
    }

    .form-reg-conteiner__info-block{
        max-width: 70vw;
    }

    .form-reg-conteiner__form-reg{
        width: 70vw;
    }

    .form-reg-conteiner-reg__form-reg__inputs-group__position-list{
        width: 15vw;
    }

    .form-reg-conteiner-reg__form-reg__inputs-group{
        width: 50vw;
    }
}