@model MyTaxi.Models.ViewModels.HomePage
@{
    ViewData["Title"] = "HomePage";
}
<div class="main">
    <div class="main-overlay"></div>
    <div class="main-text">
        <span>Добро пожаловать!</span>
        <h1>Сервис заказа такси "MyTaxi"</h1>
        <p>
            Мы рады приветсвовать вас! Наши водители уже готовы! Просто оформите
            поездку или ознакомьтесь с нашим сайтом.
        </p>
    </div>
</div>
<div class="tariffs">
    <div class="tariffs__header">
        <h2>Тарифы</h2>
        <p>
            Предлагаем вам ознакомиться с тарифами, которые мы можем вам
            предлжить.
        </p>
    </div>
    <div class="tariffs__price-tags">
        <div class="tariffs__price-tag">
            <img src="~/img/economy.png" alt="economy" />
            <h4>Эконом</h4>
            <span>от 105₽</span>
            <p>~3 мин. Баланс цены и качетсва, но с удобством</p>
        </div>
        <div class="tariffs__price-tag">
            <img src="~/img/comfort.png" alt="comfort" />
            <h4>Комфорт</h4>
            <span>от 160₽</span>
            <p>~3 мин. Высокий уровень удобства и внимание к вам</p>
        </div>
        <div class="tariffs__price-tag">
            <img src="~/img/buisness.png" alt="buisness" />
            <h4>Бизнесс</h4>
            <span>от 200₽</span>
            <p>~10 мин. Просторный салон и внимание к мелочам</p>
        </div>
        <div class="tariffs__price-tag">
            <img src="~/img/minivan.png" alt="minivan" />
            <h4>Минивэн</h4>
            <span>от 220₽</span>
            <p>~2 мин. Много места для дружной компании и багажа</p>
        </div>
        <div class="tariffs__price-tag">
            <img src="~/img/cargo.png" alt="cargo" />
            <h4>Грузовой до 3,5т</h4>
            <span>от 1200₽</span>
            <p>Часто используется для перевозки вещей и мебели</p>
        </div>
        <div class="tariffs__price-tag">
            <img src="~/img/bus.png" alt="bus" />
            <h4>Автобус</h4>
            <span>от 1100₽</span>
            <p>Коллективные поездки. Лучше заказывать заранее</p>
        </div>
    </div>
</div>
