/* Спецификация */

*,
body,
*:after {
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
}

html {
    font-size: 15px;
}

/* Начало блока main */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    background-image: url("../../img/bg_up_block.jpg");
    background-size: cover;
    position: relative;
    width:100%;
}

.main-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.header {
    display: flex;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: relative;
}

.logo {
    max-width: 70%;
}

    .logo a {
        padding-left: 1rem;
    }

        .logo a img {
            width: 280px;
            height: 120px;
        }

.menu {
    width: 50%;
}

    .menu ul li p {
        font-size: 1.25rem;
    }

/* Выплывающее меню начало */

.m-menu {
    color: aliceblue;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    list-style: none;
    font-size: 3rem;
    line-height: 7rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: 0.3s;
    transform: translateX(100%);
}

.user_name {
    color:gold;
}

.m-menu_active {
    transform: translateX(0%);
}

.m-menu__close-menu {
    position: fixed;
    right: 5rem;
    top: 5rem;
    margin: 0;
    font-size: 5rem;
    font-weight: 900;
    list-style: none;
}

    .m-menu__close-menu:hover {
        cursor: pointer;
    }

.m-menu_link {
    text-decoration: none;
    font-size: 3rem;
    line-height: 7rem;
    color: #000;
}

    .m-menu_link:hover {
        color: gold;
        border: 1px solid #000;
        border-radius: 100px;
        padding: 10px 10px;
        background-color: black;
    }

.m-menu__authorize_btn {
    border: 1px solid #000;
    border-radius: 100px;
    padding: 10px 10px;
    color: black;
}

    .m-menu__authorize_btn:hover {
        background-color: rgb(250, 215, 0);
        color: #000;
    }

.m-menu-link-btn {
    display: none;
}

    .m-menu-link-btn img {
        max-width: 5.5rem;
        max-height: 5.5rem;
        margin-right: 5vw;
    }

/* Выплывающее меню конец */

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
}

    .menu_link:hover {
        color: rgb(250, 215, 0);
        text-decoration: underline;
    }

.authorize_btn {
    margin-left: 5px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 100px;
}

    .authorize_btn:hover {
        background-color: rgb(250, 215, 0);
        color: #000;
    }

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    max-width: 60%;
    color: rgba(250, 215, 0, 0.767);
    text-shadow: black 1px 1px 1.5px;
    z-index: 1;
    position: relative;
    margin: 20vh 0;
}

    .main-text h1 {
        font-size: 3rem;
    }

    .main-text p {
        font-size: 1.5rem;
    }

    .main-text span {
        display: inline-block;
        font-size: 2rem;
    }

        .main-text span::before {
            content: "";
            width: 100px;
            height: 2px;
            background-color: rgba(250, 215, 0, 0.767);
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        .main-text span::after {
            content: "";
            width: 100px;
            height: 2px;
            background-color: rgba(250, 215, 0, 0.767);
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

/* Начало блока block-tariffs */

.tariffs {
    height: auto;
    min-height: 700px;
    width:100%;
    background-image: url("../../img/bg_down_block.jpg");
    background-size: cover;
}

.tariffs__header {
    color: rgba(250, 215, 0, 0.767);
    text-shadow: black 1px 1px 0.5px;
    text-align: center;
    padding-top: 10px;
}

    .tariffs__header h2 {
        font-size: 3rem;
    }

    .tariffs__header p {
        font-size: 1.5rem;
    }

.tariffs__price-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tariffs__price-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0.7;
    padding: 2rem;
    text-align: center;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 2rem;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 10px 10px;
    width: 20vw;
}

    .tariffs__price-tag:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 2px rgba(204, 204, 223, 0.71);
    }

    .tariffs__price-tag img {
        width: 96px;
        height: 96px;
    }

/* Начало блока block-footer */

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

    .footer img {
        max-width: 24px;
        max-height: 24px;
    }

    .footer a,
    h3 {
        font-size: 1.25rem;
        text-decoration: none;
        color: gold;
    }

.footer__contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer__social-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.vk-picture {
    border-radius: 50px;
}

/*Блок формы авторизации*/

.form-conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/authorize_reg_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.form-conteiner__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 70px;
    box-shadow: 0 4px 16px #000;
    letter-spacing: 1px;
    background-color: rgba(179, 178, 178, 0.95);
    z-index: 2;
}

.form-conteiner__form__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .form-conteiner__form__head h2 {
        border: 1px solid black;
        padding: 10px;
        border-radius: 100px;
        background-color: gold;
    }

    .form-conteiner__form__head img {
        max-width: 350px;
        max-height: 250px;
    }

.form-conteiner__form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw;
}

    .form-conteiner__form__inputs a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.25rem;
    }

    .form-conteiner__form__inputs h2 {
        color: red;
    }

    .form-conteiner__form__inputs a:hover {
        color: rgb(250, 215, 0);
        text-decoration: underline;
    }

.form-conteiner__form__inputs-group {
    width: 20vw;
    position: relative;
}

.form-conteiner__form__inputs-groups_input {
    padding: 0 0 10px 0;
    margin: 20px 0px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    width: 100%;
    font-size: 1.25rem;
}

    .form-conteiner__form__inputs-groups_input:focus {
        border-bottom: 1px solid rgba(255, 215, 0, 0.9);
    }

.form-conteiner__form__inputs-group__label {
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 1;
    color: rgba(255, 215, 0, 0.9);
    text-shadow: black 0.5px 0.5px 0.1px;
    transition: 0.3s;
    font-size: 1.25rem;
}

.form-conteiner__form__inputs_input-btn {
    letter-spacing: 1px;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: gold;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 2vh 2vw;
}

    .form-conteiner__form__inputs_input-btn:focus,
    .form-conteiner__form__inputs_input-btn:hover {
        background-color: rgba(255, 215,0,0.7);
    }

.form-conteiner__form__inputs-groups_input:focus ~ .form-conteiner__form__inputs-group__label {
    top: -10px;
    font-size: 1rem;
    color: rgba(255, 215, 0, 0.7);
}

/*Блок формы регистрации*/

.form-reg-conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-image: url(../../img/authorize_reg_bg.jpg);
    background-size: cover;
    /*position: 50% 50%;*/
}

.form-reg-conteiner__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 30vw;
    border-radius: 50px;
    box-shadow: #000 0px 5px 5px 1px;
    background-color: rgba(201, 200, 200, 0.9);
    margin: 5vh 0;
}

.form-reg-conteiner__info-block__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

    .form-reg-conteiner__info-block__header img {
        max-width: 350px;
        max-height: 250px;
    }

.form-reg-conteiner__info-block__text {
    font-size: 1.25rem;
    text-align: justify;
    padding: 10px 20px;
}

.form-reg-conteiner__form-reg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 70px;
    box-shadow: 0 4px 16px #000;
    letter-spacing: 1px;
    background-color: rgba(179, 178, 178, 0.95);
    height: 90vh;
    width: 30vw;
    margin: 5vh 0;
}

.form-reg-conteiner-reg__form-reg__inputs-group {
    width: 20vw;
    position: relative;
}

.form-reg-conteiner-reg__form-reg__inputs-groups__input {
    padding: 0 0 10px 0;
    margin: 15px 0px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    width: 100%;
    font-size: 1.25rem;
}

    .form-reg-conteiner-reg__form-reg__inputs-groups__input:focus {
        border-bottom: 1px solid rgba(255, 215, 0, 0.9);
    }

.form-reg-conteiner-reg__form-reg__inputs-group__label {
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 1;
    color: rgba(255, 215, 0, 0.9);
    text-shadow: black 1px 1px 1px;
    transition: 0.3s;
    font-size: 1.25rem;
}

.form-reg-conteiner-reg__form-reg__inputs-groups__input:focus ~ .form-reg-conteiner-reg__form-reg__inputs-group__label {
    top: -10px;
    font-size: 1rem;
    color: rgba(255, 215, 0, 0.7);
}

/*
.form-reg-conteiner-reg__form-reg__inputs-group__position-radio{
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.form-reg-conteiner-reg__form-reg__inputs-group__position-label{
  color: rgba(255, 215, 0, 0.9);
  text-shadow: black 1px 1px 1px;
  font-size: 1.25rem;
  
}
*/

.form-reg-conteiner-reg__form-reg__inputs_input-btn {
    letter-spacing: 1px;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: gold;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh 2vw;
}

    .form-reg-conteiner-reg__form-reg__inputs_input-btn:focus,
    .form-reg-conteiner-reg__form-reg__inputs_input-btn:hover {
        background-color: rgba(255, 215,0,0.7);
    }

.form-reg-conteiner-reg__form-reg__inputs h3 {
    color: red;
    text-align: center;
    max-width: 20vw;
}

/*Форма регистрации водителя*/
.f-c {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(/img/authorize_reg_bg.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.f-c__i-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 60vw;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    box-shadow: #000 0px 5px 5px 1px;
    background-color: rgba(211, 211, 211, 0.9);
}

.f-c__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.9);
    border-radius: 70px;
    box-shadow: 0 4px 16px #000;
}

.f-c__form__inputs-driver,
.f-c__form__inputs-car {
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
}

.f-c__form__inputs-driver__input,
.f-c__form__inputs-car__input {
    width: 20vw;
    position: relative;
}

.f-c__form__inputs-driver__input-field,
.f-c__form__inputs-car__input-field {
    padding: 0 0 10px 0;
    margin: 15px 0px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    width: 100%;
    font-size: 1.25rem;
}

    .f-c__form__inputs-driver__input-field:focus {
        border-bottom: 1px solid rgba(255, 215, 0, 0.9);
    }

    .f-c__form__inputs-car__input-field:focus {
        border-bottom: 1px solid rgba(255, 215, 0, 0.9);
    }

.f-c__form__inputs-driver__input-label,
.f-c__form__inputs-car__input-label {
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 1;
    color: rgba(255, 215, 0, 0.9);
    text-shadow: black 1px 1px 1px;
    transition: 0.3s;
    font-size: 1.25rem;
}

.f-c__form__inputs-driver__input-field:focus ~ .f-c__form__inputs-driver__input-label {
    top: -10px;
    font-size: 1rem;
    color: rgba(255, 215, 0, 0.7);
}

.f-c__form__inputs-car__input-field:focus ~ .f-c__form__inputs-car__input-label {
    top: -10px;
    font-size: 1rem;
    color: rgba(255, 215, 0, 0.7);
}

.f-c__form__inputs-car__input-label-list {
    color: rgba(255, 215, 0, 0.9);
    text-shadow: black 1px 1px 1px;
    font-size: 1.25rem;
}

.f-c__form__inputs-car__input-field-list {
    border-radius: 70px;
    border: none;
    list-style: none;
    font-size: 1.25rem;
    margin: 2vh 0;
    padding-left: 0.5vw;
    outline: none;
}

.f-c__form__inputs-car__input-btn {
    letter-spacing: 1px;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: gold;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 2vh 2vw;
}

    .f-c__form__inputs-car__input-btn:focus,
    .f-c__form__inputs-car__input-btn:hover {
        background-color: rgba(255, 215,0,0.7);
    }

.f-c__form h3 {
    color: red;
    text-align: center;
    max-width: 20vw;
}
/*Страница выбора роли для регистрации*/
.way-conteiner {
    width: 100%;
    height: 100vh;
    background-image: url(/img/authorize_reg_bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.way-conteiner__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(179, 178, 178, 0.9);
    border-radius: 70px;
    box-shadow: 0 4px 16px #000;
}

    .way-conteiner__form h2 {
        margin: 3vh 3vw;
        color: rgb(255, 217, 0);
        text-shadow: black 1px 1px 1px;
    }

.way-conteiner__from__way {
    background-color: rgba(255, 217, 0, 0.6);
    border-radius: 70px;
    text-decoration: none;
    font-size: 1.75rem;
    padding: 1.5vh 2vw;
    margin: 2vh 0;
    color: #000;
}

    .way-conteiner__from__way:hover {
        background-color: rgb(255, 217, 0);
    }

/*Блок удачной регистрации*/

.suc-conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.534);
}

.suc-conteiner__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 100px;
    padding: 2vh 3vw;
}

.suc-conteiner__block__btn {
    letter-spacing: 1px;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: gold;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh 2vw;
}

    .suc-conteiner__block__btn:hover,
    .suc-conteiner__block__btn:focus {
        background-color: rgba(255, 215, 0, 0.7);
    }

/*Блок для History*/

.body-history {
    min-height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(/img/bg_down_block.jpg);
    background-size: cover;
    width:100%;
}

.body-history__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 2rem;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 10px 10px;
    width: 50vw;
}

.body-history__info-block__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-history__info-block__header {
    text-align: center;
}

.body-history__info-block p {
    padding: 0.5rem 0.5rem;
    margin: 0.1rem 0;
}

.body-history__info-block h3 {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem 0;
    color: #000;
    text-shadow: 1px 1px 1px gold;
}

.body-history_info-block__route__list-route {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem 0;
    color: #000;
    text-shadow: 1px 1px 1px blue;
}

.body-history__info-block:hover {
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 223, 0.71);
}

/*Блок для Trips*/

.body-trip {
    min-height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(/img/bg_down_block.jpg);
    background-size: cover;
    width:100%;
}

.body-trip__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 2rem;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 10px 10px;
    width: 60vw;
}

.body-trip__info-block__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-trip__info-block__header {
    text-align: center;
}

.body-trip__info-block p {
    padding: 0.5rem 0.5rem;
    margin: 0.1rem 0;
}

.body-trip__info-block h3 {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem 0;
    color: #000;
    text-shadow: 1px 1px 1px gold;
}

.body-trip_info-block__route_list-header {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem 0;
    color: #000;
    text-shadow: 1px 1px 1px blue;
}

.body-trip_info-block__route__sum {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem 0;
    color: #000;
    text-shadow: 1px 1px 1px red;
}

.body-trip__info-block:hover {
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 223, 0.71);
}

.body-trip_info-block__btn__go {
    letter-spacing: 1px;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: gold;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 2vh 2vw;
    padding: 2vh 2vw;
}

    .body-trip_info-block__btn__go:hover,
    .body-trip_info-block__btn__go:focus {
        background-color: rgba(255, 215, 0, 0.7);
    }

/*Блок оформления заказа*/

.order-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 77.5vh;
    background-image: url('../img/order_bg.jpg');
    background-size: cover;
    width:100%;
}

.order-body__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 30vh;
    min-width: 50vw;
    border: 1px solid #000;
    border-radius: 100px;
    margin: 2vh 3vw;
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 223, 0.71);
    background-color: rgba(0, 0, 0, 0.6);
}

.order-body__form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 2vh 3vw;
}

.order-body__form-inputs__input {
    font-size: 1.15rem;
    color: #000;
    padding: 0.5vh 0.5vw;
    border: none;
    border-radius: 20px;
    outline: none;
    min-width: 40vw;
    margin: 2vh 3vw;
}

.error_message {
    color: red;
    background-color: gold;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0.1vh 0.3vw;
    margin: 0;
    font-size: 1.25rem;
}

.order-body__form-inputs__input-home {
    font-size: 1.25rem;
    color: #000;
    padding: 0.5vh 0.5vw;
    border: none;
    border-radius: 20px;
    outline: none;
    max-width: 3.5vw;
    margin-top: 0.5vh;
    text-align: center;
}

.order-body__form-inputs__car-type-list {
    font-size: 1.25rem;
    color: #000;
    padding: 0.5vh 0.5vw;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: lightgray;
}

.order-body__form-output {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.25rem;
    color: gold;
}

.add_input_btn {
    margin: 1vh 0;
    border: 1px solid #000;
    border-radius: 50px;
    color: #000;
    font-size: 1.2rem;
    padding: 0.5vh 0.5vw;
    background-color: gold;
    outline: none;
}

    .add_input_btn:hover,
    .add_input_btn:focus {
        background-color: rgba(255, 215,0,0.7);
        cursor: pointer;
    }

.order-body__form-btn-go {
    margin: 1vh 0;
    border: none;
    border-radius: 50px;
    color: #000;
    font-size: 1.2rem;
    padding: 1vh 1vw;
    background-color: gold;
    outline: none;
}

    .order-body__form-btn-go:hover,
    .order-body__form-btn-go:focus {
        background-color: rgba(255, 215,0,0.7);
        cursor: pointer;
    }

.order-body__ymap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
    max-height: 65vh;
    max-width: 45vw;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 223, 0.71);
    border-radius: 50px;
    padding: 0 1.5vw;
}

.order-body__ymap__map {
    height: 60vh;
    width: 40vw;
}

.order-body__ymap__header {
    color: gold;
    margin: 1vh 0;
}

.info_message {
    color: gold;
    margin: 0.5vh 0;
    font-size: 1.25rem;
}

.create_route_btn {
    margin: 1vh 0;
    border: none;
    border-radius: 50px;
    color: #000;
    padding: 1vh 1vw;
    background-color: gold;
    outline: none;
    max-width: 20vw;
}

    .create_route_btn:hover,
    .create_route_btn:focus {
        background-color: rgba(255, 215,0,0.7);
        cursor: pointer;
    }

    .create_route_btn p {
        font-size: 1.15rem;
        padding: 0;
        margin: 0;
    }

    /*Блок текущей поездки*/

.trip-body {
    min-height: 77.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/currentTrip.jpg);
    background-size: cover;
}

.trip-body__block-info__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    border-radius: 100px;
    margin: 2vh 3vw;
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 223, 0.71);
    background-color: rgba(0, 0, 0, 0.8);
}

.trip-body__block-info__form__header {
    font-size: 1.6rem;
    color: gold;
    text-shadow: black 1px 1px 1px;
}

.trip-body__block-info__form__btn {
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 1.25rem;
    background-color: gold;
    margin: 1vh 2vw;
    outline: none;
    padding: 0.5vh 0.5vw;
}

    .trip-body__block-info__form__btn:hover,
    .trip-body__block-info__form__btn:focus {
        cursor: pointer;
        background-color: rgba(255, 215, 0, 0.7);
    }

.trip-body__block-info__form__sum {
    font-size: 1.25rem;
    color: gold;
}

.trip-body__routes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh 3vw;
    min-height: 50vh;
    max-width: 55vw;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 223, 0.71);
    border-radius: 50px;
    padding: 0 1.5vw;
}

.trip-body__routes__header h2 {
    color: gold;
    text-shadow: black 1px 1px 1px;
    font-size: 1.7rem;
    margin-top: 1vh;
}

.trip-body__routes__ymap {
    height: 45vh;
    width: 40vw;
    margin: 1.5vh 1vw;
}

.trip-body__routes__list {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 35vw;
}

    .trip-body__routes__list ul li {
        list-style: none;
    }

.trip-body__routes__list__address {
    list-style: none;
    font-size: 1.45rem;
    color: gold;
    margin: 1vh 0;
}
