<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTaxi - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/media.css">
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
</html>