@using MyTaxi.Models.ViewModels
@model MyTaxi.Models.ViewModels.AllTrips
@{
    ViewData["Title"] = "AllTrips";
}
<div class="body-trip">
    @if (ViewBag.InfoTrip != null && ((List<MyTaxi.Models.ViewModels.TripInfo>)ViewBag.InfoTrip).Count > 0)
    {
        @foreach (var info in (List<MyTaxi.Models.ViewModels.TripInfo>)ViewBag.InfoTrip)
        {
            <div class="body-trip__info-block">
                <div class="body-trip__info-block__header">
                    <h3>Заказ №@info.OrderID</h3>
                </div>
                <div class="body-trip__info-block__body">
                    @{
                        int i = 1;
                    }
                    <div class="body-trip_info-block__route">
                        <p class="body-trip_info-block__route_list-header">Маршрут поездки:</p>
                        @foreach (var adr in info.Addresses)
                        {
                            <p>@i)@adr</p>
                            i++;
                        }
                        <p class="body-trip_info-block__route__sum">Сумма поездки: @info.MainSumm₽</p>
                    </div>
                    <div class="body-trip_info-block__btn">
                        @if (ViewData["Continue"] != null)
                        {
                            <a href="/Trips/CurrentTrip/@info.OrderID" class="body-trip_info-block__btn__go">@ViewData["Continue"]</a>
                        }
                        else
                        {
                            <a href="/Trips/CurrentTrip/@info.OrderID" class="body-trip_info-block__btn__go">Взять поездку!</a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>