@using MyTaxi.Models.ViewModels
@model MyTaxi.Models.ViewModels.AllTrips
@{
    ViewData["Title"] = "AllTrips";
}
<div class="body-trip">
    <div class="body-trip__info-block">
        <div class="body-trip__info-block__header">
            <h3>Поездка №1</h3>
        </div>
        <div class="body-trip__info-block__body">
            <div class="body-trip_info-block__route">
                <p>Откуда: ул. Ленина, 50</p>
                <p>Куда:</p>
                <p>1. ул.Серышева, 49</p>
                <p>2. ул. Ленина, 12</p>
                <p>Сумма поездки: 500р</p>
            </div>
            <div class="body-trip_info-block__btn">
                <a href="#" class="body-trip_info-block__btn__go">Взять поездку!</a>
            </div>
        </div>
    </div>
    <div class="body-trip__info-block">
        <div class="body-trip__info-block__header">
            <h3>Поездка №1</h3>
        </div>
        <div class="body-trip__info-block__body">
            <div class="body-trip_info-block__route">
                <p>Откуда: ул. Ленина, 50</p>
                <p>Куда:</p>
                <p>1. ул.Серышева, 49</p>
                <p>2. ул. Ленина, 12</p>
                <p>Сумма поездки: 500р</p>
            </div>
            <div class="body-trip_info-block__btn">
                <a href="#" class="body-trip_info-block__btn__go">Взять поездку!</a>
            </div>
        </div>
    </div>
    <div class="body-trip__info-block">
        <div class="body-trip__info-block__header">
            <h3>Поездка №1</h3>
        </div>
        <div class="body-trip__info-block__body">
            <div class="body-trip_info-block__route">
                <p>Откуда: ул. Ленина, 50</p>
                <p>Куда:</p>
                <p>1. ул.Серышева, 49</p>
                <p>2. ул. Ленина, 12</p>
                <p>Сумма поездки: 500р</p>
            </div>
            <div class="body-trip_info-block__btn">
                <a href="#" class="body-trip_info-block__btn__go">Взять поездку!</a>
            </div>
        </div>
    </div>
</div>
