@{
    ViewData["Title"] = "Authorization";
}
<div class="form-conteiner">
    <form method="post" class="form-conteiner__form">
        <div class="form-conteiner__form__head">
            <h2>Авторизация</h2>
            <img src="~/img/logo.png" alt="logo">
        </div>
        <div class="form-conteiner__form__inputs">
            <div class="form-conteiner__form__inputs-group">
                <input type="text" name="login" id="loginField" class="form-conteiner__form__inputs-groups_input">
                <label class="form-conteiner__form__inputs-group__label">Логин</label>
            </div>

            <div class="form-conteiner__form__inputs-group">
                <input type="password" name="password" id="passwordField" class="form-conteiner__form__inputs-groups_input">
                <label class="form-conteiner__form__inputs-group__label">Пароль</label>
            </div>

            <input type="submit" value="Войти" href="AuthReg/AuthorizationPost" class="form-conteiner__form__inputs_input-btn">
        </div>
    </form>
</div>