@using MyTaxi.Models.ViewModels
@model ClientRegistrationInit
@{
    ViewData["Title"] = "RegClient";
}
@if (Model != null && Model.JustInit == false && Model.Success == true)
{
    <div class="suc-conteiner">
        <div class="suc-conteiner__block">
            <h2>Вы успешно прошли регистрацию!</h2>
            <p>Просто авторизируйтесь под вашей учетной записью</p>
            <a href="/AuthReg/Authorization" class="suc-conteiner__block__btn">OK</a>
        </div>
    </div>
}
else
{
    <div class="form-reg-conteiner">
        <div class="form-reg-conteiner__info-block">
            <div class="form-reg-conteiner__info-block__header">
                <img src="../img/logo.png" alt="logo">
                <h2>Страница регистрации в сервисе заказа такси "MyTaxi"</h2>
            </div>
            <div class="form-reg-conteiner__info-block__text">
                <p>
                    Мы рады приветсвовать вас в нашем сервисе заказа такси "MyTaxi". Для того чтобы стать нашим клиентом или водителем
                    вам необходимо пройти регострацию. Для этого просто заполните все поля и нажмите кнопку "Регистрация". Если все
                    пройдет успешно, то вы сразу же сможете воспользоваться нашим сервисом. Удачных поездок! Нам с вами по пути!
                </p>
            </div>
        </div>
        <form method="POST" class="form-reg-conteiner__form-reg" onsubmit="return validation();">
            <div class="form-reg-conteiner-reg__form-reg__inputs">

                <div class="form-reg-conteiner-reg__form-reg__inputs-group">
                    <input type="text" name="login" id="loginField" class="form-reg-conteiner-reg__form-reg__inputs-groups__input" required maxlength="20">
                    <label class="form-reg-conteiner-reg__form-reg__inputs-group__label">Логин</label>
                </div>

                <div class="form-reg-conteiner-reg__form-reg__inputs-group">
                    <input type="text" name="userSurname" id="userSurname" class="form-reg-conteiner-reg__form-reg__inputs-groups__input" required maxlength="20">
                    <label class="form-reg-conteiner-reg__form-reg__inputs-group__label">Фамилия</label>
                </div>

                <div class="form-reg-conteiner-reg__form-reg__inputs-group">
                    <input type="text" name="userName" id="userName" class="form-reg-conteiner-reg__form-reg__inputs-groups__input" required maxlength="20">
                    <label class="form-reg-conteiner-reg__form-reg__inputs-group__label">Имя </label>
                </div>

                <div class="form-reg-conteiner-reg__form-reg__inputs-group">
                    <input type="text" name="userPatronymic" id="userPatronymic" class="form-reg-conteiner-reg__form-reg__inputs-groups__input" maxlength="20">
                    <label class="form-reg-conteiner-reg__form-reg__inputs-group__label">Отчество</label>
                </div>

                <div class="form-reg-conteiner-reg__form-reg__inputs-group">
                    <input type="text" name="userPhone" id="phoneNumber" class="form-reg-conteiner-reg__form-reg__inputs-groups__input" required>
                    <label class="form-reg-conteiner-reg__form-reg__inputs-group__label">Номер телефона</label>
                </div>

                <div class="form-reg-conteiner-reg__form-reg__inputs-group">
                    <input type="password" name="password" id="passwordField" class="form-reg-conteiner-reg__form-reg__inputs-groups__input" required>
                    <label class="form-reg-conteiner-reg__form-reg__inputs-group__label">Пароль</label>
                </div>

                <div class="form-reg-conteiner-reg__form-reg__inputs-group">
                    <input type="password" name="passwordAgain" id="passwordFieldAgain" class="form-reg-conteiner-reg__form-reg__inputs-groups__input" required>
                    <label class="form-reg-conteiner-reg__form-reg__inputs-group__label">Подтверждение пароля</label>
                </div>

                @if (ViewData["ExistLogin"] != null)
                {
                    <div>
                        <h3>@ViewData["ExistLogin"]</h3>
                    </div>
                }

                <input type="submit" value="Зарегестрироваться" class="form-reg-conteiner-reg__form-reg__inputs_input-btn">
            </div>
        </form>
    </div>
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
    <script src="~/js/jquery.maskedinput.js"></script>
    <script src="~/js/validation.js"></script>
}