@{
    ViewData["Title"] = "RegWay";
}
<div class="way-conteiner">
    <div class="way-conteiner__form">
        <h2>В роли кого вы бы хотели присоединиться к нам ?</h2>
        <a href="/AuthReg/Registration" class="way-conteiner__from__way">Клиент</a>
        <a href="/AuthReg/RegistrationDriver" class="way-conteiner__from__way">Водитель</a>
    </div>
</div>
