@using MyTaxi.Models.ViewModels
@model MyTaxi.Models.ViewModels.History
@{
    ViewData["Title"] = "History";
}
<div class="body-history">
    <div class="body-history__info-block">
        <div class="body-history__info-block__header">
            <h3>Поездка №1</h3>
        </div>
        <div class="body-history__info-block__body">
            <div class="body-history_info-block__route">
                <p>Откуда: ул. Ленина, 50</p>
                <p>Куда:</p>
                <p>1. ул.Серышева, 49</p>
                <p>2. ул. Ленина, 12</p>
                <p>Сумма поездки: 500р</p>
            </div>
            <div class="body-history_info-block__driver-car">
                <p>Водитель: Иванов Иван Иванович</p>
                <p>Машина: Р576ЕГ Белая Toyota Camry</p>
            </div>
        </div>
    </div>
    <div class="body-history__info-block">
        <div class="body-history__info-block__header">
            <h3>Поездка №1</h3>
        </div>
        <div class="body-history__info-block__body">
            <div class="body-history_info-block__route">
                <p>Откуда: ул. Ленина, 50</p>
                <p>Куда:</p>
                <p>1. ул.Серышева, 49</p>
                <p>2. ул. Ленина, 12</p>
                <p>Сумма поездки: 500р</p>
            </div>
            <div class="body-history_info-block__driver-car">
                <p>Водитель: Иванов Иван Иванович</p>
                <p>Машина: Р576ЕГ Белая Toyota Camry</p>
            </div>
        </div>
    </div>
    <div class="body-history__info-block">
        <div class="body-history__info-block__header">
            <h3>Поездка №1</h3>
        </div>
        <div class="body-history__info-block__body">
            <div class="body-history_info-block__route">
                <p>Откуда: ул. Ленина, 50</p>
                <p>Куда:</p>
                <p>1. ул.Серышева, 49</p>
                <p>2. ул. Ленина, 12</p>
                <p>Сумма поездки: 500р</p>
            </div>
            <div class="body-history_info-block__driver-car">
                <p>Водитель: Иванов Иван Иванович</p>
                <p>Машина: Р576ЕГ Белая Toyota Camry</p>
            </div>
        </div>
    </div>
</div>
